/*@import url("style-auth.css");*/
/*@import url("style-quickregauth.css");*/

/*Основные настройки стилей для всех страничек сайта*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/background.jpg);
    background-size: 300px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    color: white;
}
/*Стили для навигационного меню*/

.nav-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: orangered;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    font-size: 3vw;
}

.nav-menu a:hover {
    background: whitesmoke;
    color: orangered;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu ul li {
    position: relative;
    width: 100%;
    text-align: center;
}

.nav-menu li:hover .submenu > li {
    top: 0;
    display: block;
}

.submenu > li {
    position: relative;
    display: none;
}

.submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}