/*@import url("style-auth.css");*/
/*@import url("style-quickregauth.css");*/

/*Основные настройки стилей для всех страничек сайта*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg.jpg);
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    width: 100%;
    color: white;
    display: table;
}
/*Стили для навигационного меню*/
.top-bar {
    width: 100%;
}

.top-bar ul {

    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgrey;
}

.top-bar ul li {
    border: darkorange solid 1px;
    border-radius: 1px;
}

.top-bar ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.center-bar .left-menu {
    background: rgba(140, 140, 140, 0.2);
}

.center-bar .right-menu {
    background: rgba(140, 140, 140, 0.2);
}

/**/

.button-menu {
    display: none;
}

.button-submenu {
    display: none;
}


.dropdown {
    display: flex;
}

.drop-button {
    display: none;
}

.nav-menu {
    width: 100%;
}

.nav-menu img {
    display: none;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkorange;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    font-size: 2vw;
    /*padding: 5%;*/
    border: black solid 1px;
}

.nav-menu a:hover {
    background: whitesmoke;
    color: darkorange;
}

/*.nav-menu ul li {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

/*.nav-menu li:hover .submenu > li {*/
    /*top: 0;*/
    /*display: block;*/
/*}*/

/*.submenu > li {*/
    /*position: relative;*/
    /*display: none;*/
/*}*/

/*.submenu {*/
    /*position: absolute;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 100%;*/
/*}*/

img {
    height: auto;
    width: 50vw;
}