fieldset {
    border: 0 none;
}

.memo {
    color: darkgoldenrod;
    font-family: "Times New Roman";
    font-size: 3vw;
}


.style-a {
    text-align: center;
    vertical-align: middle;
    /*padding: 2%;*/
}

.style-a a {
    text-align: center;
    text-decoration: none;
    color: black;
    background: whitesmoke;
    border: lightslategray solid 1px;
    border-radius: 1px;
    font-size: 100%;
}

.style-a a:hover {
    background: darkgrey;
    color: whitesmoke;
}

.mwauth,
.mwreg {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.mwauth:target,
.mwreg:target {
    display: block;
    pointer-events: auto;
}

.mwauth > div,
.mwreg > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.closebutton {
    background: #606061;
    color: #FFFFFF;
    line-height: 5vw;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 6vw;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #000;
}

.closebutton:hover { background: gold; }

.elements-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

.elements-flex input[placeholder]{
    font-size: 1em;
}

.elements-flex input[type="reset"],
.elements-flex input[type="submit"] {
    background-color: lightgray;
    border: none;
    text-decoration: none;
    color: black;
    padding: 2em ;
    cursor: pointer;
    font-family: "Arial Black";
    border-radius: 10px;
    font-size: 1em;
}

@media screen and (max-width: 966px){

    .center-menu .elements-flex label {
        font-weight: bold;
        font-size: 3vw;
    }

    .elements-flex input[size]{
        width: 40vw;
    }
    .elements-flex input[type="reset"],
    .elements-flex input[type="submit"] {
        padding: 1vw ;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 768px) {
    .center-menu .elements-flex label {
        font-weight: bold;
        font-size: 5vw;
    }

    .elements-flex input[type="reset"],
    .elements-flex input[type="submit"] {
        padding: 1vw;
        font-size: 3.5vw;
    }

    .footer-bar {
        justify-content: flex-end;
    }

    .footer-bar .instagram,
    .footer-bar .vk,
    .footer-bar .youtube,
    .footer-bar .instagram,
    .footer-bar .odnoklassniki,
    .footer-bar .google-plus,
    .footer-bar p {
        font-size: 3vw;
    }
}


