.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-menu {
    display: flex;
    flex-direction: row;
    flex: 100%;
    /*padding: 2%;*/
}

.flex-grow-menu {
    flex-grow: 1;
}


.flex-left {
    display: flex;
    flex-direction: column;
    flex: 10%;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    /*padding: 2%;*/
}

.flex-center {
    display: flex;
    flex-direction: row;
    flex: 80%;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.flex-right {
    display: flex;
    flex-direction: column;
    flex: 10%;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    /*padding: 2%;*/
}

.flex-bottom {
    display: flex;
    flex-direction: row;
    flex: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.flex-main-left {
    display: flex;
    flex-direction: column;
    flex: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
}

.flex-main-right {
    display: flex;
    flex-direction: column;
    flex: 100%;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

@media screen and (max-width: 600px) {
    /*Здесь я пока не знаю =( */
}

@media screen and (max-width: 768px) {
    .flex-right {
        display: none;
    }

    .flex-center {
        flex: 100%;
    }

    .nav-menu ul{
        display: flex;
        flex-direction: column;
        float: left;
        width: 100%;
    }

    .nav-menu li:hover .submenu > li {
        top: 0;
        display: inline-block;
    }

    .flex-center {
        flex-direction: row;
    }

    .flex-bottom {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .flex-bottom p {
        width: 75%;
    }
}

@media screen and (max-width: 996px) {

    .dropdown button {
        display: inline;
        padding: 1% 0;
    }

    .drop-button {
        background-color: darkorange;
        color: whitesmoke;
        width: 100%;
        /*padding: 1%;*/
        border: black solid 1px;
    }

    .nav-menu .dropdown {
        display: inline;
        /*background-color: darkorange;*/
        color: whitesmoke;
    }

    .nav-menu li:hover .submenu > li {
        top: 0;
        display: block;
    }

    .submenu > li {
        position: relative;
        display: none;
    }

    .submenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}