.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-menu {
    display: flex;
    flex-direction: row;
    flex: 100%;
    /*padding: 2%;*/
}

.flex-grow-menu {
    flex-grow: 1;
}


.flex-left {
    display: flex;
    flex-direction: column;
    flex: 5%;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    /*padding: 2%;*/
}

.flex-center {
    display: flex;
    flex-direction: row;
    flex: 80%;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.flex-right {
    display: flex;
    flex-direction: column;
    flex: 5%;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    /*padding: 2%;*/
}

.flex-bottom {
    display: flex;
    flex-direction: row;
    flex: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
}

.flex-main-left {
    display: flex;
    flex-direction: column;
    flex: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
}

.flex-main-right {
    display: flex;
    /*flex-direction: column;*/
    flex: 100%;
    justify-content: center;
    align-items: center;
    padding: 2%;
}